name: Gather data from AN ECs

on:
  push:
    branches:
     - master
  schedule:
    # - cron: "*/15 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8 #install the python needed
      - name: install requirements
        run: |
          python -m pip install --upgrade pip
          pip install requests folium branca argparse
          pip freeze > requirements.txt
          pip install -r requirements.txt
      - name: execute py script # run the run.py to get the latest data
        run: python ${{ github.workspace }}/app.py -o ${{ github.workspace }}/orgs.json -a ${{ github.workspace }}/events.json
        env:
          DCC_AN_API_KEY: ${{ secrets.DCC_AN_API_KEY }}
          CAN_AN_API_KEY: ${{ secrets.CAN_AN_API_KEY }}
          TP_AN_API_KEY: ${{ secrets.TP_AN_API_KEY }}
      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git diff-index --quiet HEAD || (git commit -a -m'[bot] add event(s)' --allow-empty && git push -f && curl -X POST -d {} https://api.netlify.com/build_hooks/6169b193afb0e42c24c0fd0f)

#       - name: push changes
#         uses: ad-m/github-push-action@v0.6.0
#         with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
#           branch: master
